<div ng-controller="FriendsTabController">
	
	<button type="button" class="profile-btn" ng-click="people()">Explore people</button>
	</br></br>
	
	<button type="button" class="profile-btn" ng-click="friends()">Explore friends</button>
	
	</br></br>
	<div class="req-container">
		<p ng-show="reqs">Friend requests:</p>
		<div class="ftable-container">
		<table ng-init="loadRequests()" id="scrolltable" ng-show="reqs">
			<thead>
				<th>Name</th>
				<th>Accept request</th>
				<th>Decline request</th<
			</thead>
			<div >
			<tbody>
				<tr ng-repeat="req in requests">
					<td>{{req.firstName+" "+req.lastName}}</td>
					<td><button class="table_button" ng-click="acceptRequest(req)">Accept</button></td>
					<td><button class="table_button" ng-click="declineRequest(req)">X</button></td>
				</tr>
			</tbody>
		</table></div>
		<p ng-show="!reqs">No friend request!</p>
	</div>
	<modal-people show-people-modal='noMore'/>
	
</div>