<div ng-controller="HomeTabController" class="container">
	<div ng-show="home" class="profile_info">
		<h3><b>{{currentUser.firstName}} {{currentUser.lastName}}</b></h3>

		<div class="profile-photo">
		
		</div>

		<p><b>E-mail:  </b>{{currentUser.email}}</p>
		<p><b>City:  </b>{{currentUser.city}}</p>
		<p><b>Phone:  </b>{{currentUser.phone}}</p>
		<button type="button" class="profile-btn" ng-click="editInfo()">Edit info</button>
		<button type="button" class="profile-btn" ng-click="changePassword()">Change password</button>
	</div>
	<div ng-show="home" class="history">
		<p>Visitation history:</p> 
		<table ng-init="loadHistory()" id="history_table">
			<thead>
				<th>Name</th>
				<th>Rating</th>
				<th>Profile</th>
			</thead>
			<tbody>
				<tr ng-repeat="hist in history">
					<td>{{hist.name}}</td>
					<td>{{hist.rating}}</td>
					<td><button class="table_button" type="button" ng-click="showCinema(hist)">View profile</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="edit"> 
    	
    	First name: 
		<input type="text" ng-model="currentUser.firstName">
		</br>
		
		Last name: 
		<input type="text" ng-model="currentUser.lastName">
		</br>
		
		City: 
		<input type="text" ng-model="currentUser.city">
		</br>
		
		Phone number: 
		<input type="text" ng-model="currentUser.phone">
		</br>
		
		<button type="button" class="profile-btn" ng-click="finishEdit()">Save changes</button>
	</div>
	
	<div ng-show="passChange">
		Input old password:
		<input type="password" ng-model="oldPass">
		</br>
		
		Input new password:
		<input type="password" ng-model="newPass">
		</br>
		
		Repeat new password:
		<input type="password" ng-model="newPass2">
		</br>
		
		<button type="button" class="profile-btn" ng-click="finishPass()">Save new password</button>
		
	</div>
	
</div>