 <div>
 <form>
 		<form>
			E-mail:
    		<input type="text" ng-model="email">
    		</br>
    	
    		Password:
    		<input type="password" ng-model="pass">
    		</br>
		
			<button class="profile-btn" ng-click="login()">Login</button>
		</form>
    	<p>Don't have an account? Sign up!</p> 
    	<button class="profile-btn"  type="button" ng-click="signup()">Register</button>
    	<p>Or view cinemas!</p>
    	<button class="profile-btn"  type="button" ng-click="list_cinemas()">List</button>
    	
    	<modal-register show-reg="showReg" />
</form>
</div>