<div >
Cinemas:
<br>
<table ng-init="list_cinemas()">
	<thead >
		<tr>
			<th>DEscription</th>
			<th>Name</th>	
			<th>Location</th>
			<th>rating</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cinema in cinemaList">
			<td>{{ cinema.description }}</td>
			<td>{{ cinema.name }}</td>
			<td>{{ cinema.location }}</td>			
			<td>{{ cinema.rating }}</td>
			<td><button type="button" ng-click=showCinema(cinema)>Show</button>
		</tr>		
	</tbody>
</table>
	<hr>
	<br>
	Theaters:<br>
<table ng-init="list_theaters()">
	<thead >
		<tr>
			<th>Name</th>	
		
			<th>DEscription</th>
			<th>Location</th>
			<th>rating</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cinema in theaterList">
			<td>{{ cinema.name }}</td>
			<td>{{ cinema.description }}</td>
			<td>{{ cinema.location }}</td>			
			<td>{{ cinema.rating }}</td>
			<td><button type="button" ng-click=showCinema(cinema)>Show</button>
		</tr>		
	</tbody>
	
</table>
</div>