<div>
	<div id="list_pu_unapproved_fz" style="display:none" ng-init=list_promos_unapproved()>
	 	<table class="table table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Image</th>	
					<th>Owner</th>	
					<th>Ending</th>				
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="promo in listOfPromosUnapproved">
					<td>{{ promo.name }}</td>
					<td>{{ promo.description }}</td>
					<td><img ng-src="{{ promo.image }}" width="150" height="150"/></td>
					<td>{{ promo.owner_email }}</td>	
					<td>{{ promo.ending_date }}</td>							
					<td><input type="button" value="approve" ng-click="btn_approve_pu( promo.id )"></td>
					<td><input type="button" value="disapprove" ng-click="btn_disapprove_pu( promo.id )"></td>
				</tr>		
			</tbody>		
		</table>
	</div>
</div>