<div ng-init="list_cinemas()">
Cinemas:<br>
 	<table style="cellPadding:10; cellspacing:10; rules:cols">
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>DEscription</th>
			<th>Name</th>	
			<th>Location</th>
			<th>rating</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cinema in cinemaList">
			<td>{{ cinema.id }}</td>
			<td>{{ cinema.description }}</td>
			<td>{{ cinema.name }}</td>
			<td>{{ cinema.location }}</td>			
			<td>{{ cinema.rating }}</td>
		</tr>		
	</tbody>
	</table>
	<hr>
	<br>
	Theaters:<br>
	<table>
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>DEscription</th>
			<th>Name</th>	
			<th>Location</th>
			<th>rating</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cinema in theaterList">
			<td>{{ cinema.id }}</td>
			<td>{{ cinema.description }}</td>
			<td>{{ cinema.name }}</td>
			<td>{{ cinema.location }}</td>			
			<td>{{ cinema.rating }}</td>
		</tr>		
	</tbody>
	
</table>
</div>