<div >
	<div class="tab">
		<button type="button" ng-click="home()">Profile</button>
		<button type="button" ng-click="theaters()">Theaters</button>
		<button type="button" ng-click="cinemas()">Cinemas</button>
		<button type="button" ng-click="friends()">Friends</button>
		<button type="button" ng-click="reservations()">Reservations</button>
		<button type="button" ng-click="settings()">Settings</button>
		<button type="button" ng-click="fanzone()">Fanzone</button>
	</div>
	
	<div class="tabcontent" ng-show="tabs.home">
		<div data-ng-include src="'/html/homeTab.html'"></div>
	</div>
	<div class="tabcontent" ng-show="tabs.theaters">
		<div ng-show="theaterRegular">
			<button type="button" ng-click="reservationViewTheater()">Make a reservation</button>
			<table class="table table-bordered">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Location</th>
				<th>Rating</th>
				<th>Profile</th>
			</thead>
			<tbody>
				<tr ng-repeat="theater in theatersShow">
					<td>{{theater.name}}</td>
					<td>{{theater.description}}</td>
					<td>{{theater.location}}</td>
					<td>{{theater.rating}}</td>
					<td><button type="button" ng-click="showCinema(theater)">View Profile</button></td>
				</tr>
			</tbody>		
			</table>
		</div>
	</div>	
	<div class = "tabcontent" ng-show="tabs.cinemas">
		<div ng-show="regular">
			<button type="button" ng-click="reservationView()">Make a reservation</button>
			<table class="table table-bordered">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Location</th>
				<th>Rating</th>
				<th>Profile</th>
			</thead>
			<tbody>
				<tr ng-repeat="cinema in cinemasShow">
					<td>{{cinema.name}}</td>
					<td>{{cinema.description}}</td>
					<td>{{cinema.location}}</td>
					<td>{{cinema.rating}}</td>
					<td><button type="button" ng-click="showCinema(cinema)">View Profile</button></td>
				</tr>
			</tbody>		
			</table>
		</div>
		<div data-ng-include src="'/html/reserveTicket.html'"></div>
	</div>
	<div class = "tabcontent" ng-show="tabs.friends">
		<div data-ng-include src="'/html/friendsTab.html'"></div>
	</div>
	<div class = "tabcontent" ng-show="tabs.reservations">
		<div data-ng-include src="'/html/reservationTab.html'"></div>
	</div>
	<div class = "tabcontent" ng-show="tabs.settings">
		<p>{{h}}</p>
	</div>
	<div class = tabcontent" ng-show="tabs.fanzone">
		<div data-ng-include src="'/html/fanzoneTab.html'"></div>
	</div>
	
	

</div>