<div>
    <form ng-init="initUser()">
    
    	E-mail:
    	<input type="text" ng-model="helpy.email">
    	</br>
    	
    	Password:
    	<input type="password" ng-model="helpy.pass">
    	</br>
    	
    	Password(re-enter):
    	<input type="password" ng-model="pass2">
    	</br>
    	
    	First name: 
		<input type="text" ng-model="user.firstName">
		</br>
		
		Last name: 
		<input type="text" ng-model="user.lastName">
		</br>
		
		City: 
		<input type="text" ng-model="user.city">
		</br>
		
		Phone number: 
		<input type="text" ng-model="user.phone">
		</br>
		
		<button type="button" ng-click="register()">Make an account</button>
		
		<button type="button" ng-click="back()">Back</button>
    </form>
</div>