 <div id="register_admins_card">
    <form>
      <input ng-model="admEmail" name="adm_email" type="text" placeholder="email" maxlength="50">
      <input ng-model="admPass1" name="adm_pass1" type="password" placeholder="password">
      <input ng-model="admPass2" name="adm_pass2" type="password" placeholder="repeat password">
      <div class="izbor">
        admin type:
        <select ng-model="admType" id="type">
          <option value="system" id="system">system</option>
          <option value="fanzone">fan zone</option>
          <option value="cinema" selected>cinema/theatre</option>
        </select>
      </div>
      <div align="right">
        <input type="button" name="register_btn" value="Register" ng-click=registerAdmin()>
      </div>
    </form>
 
  </div>