<div class='modal-backdrop' ng-show='showReg'></div>
<div class='modal' ng-show='showReg'>    
	<div class="registration">
    	    	
    	<p>E-mail:				<p>
    	<input type="text" ng-model="email">
    	</br>
    	
    	<p>Password:			</p>		
    	<input type="password" ng-model="password">
    	</br>
    	
    	<p>Password(re-enter):	</p>
    	<input type="password" ng-model="pass2">
    	</br>
    	
    	<p>First name:			</p> 
		<input type="text" ng-model="firstName">
		</br>
		
		<p>Last name:			</p> 
		<input type="text" ng-model="lastName">
		</br>
		
		<p>City: 					</p>
		<input type="text" ng-model="city">
		</br>
		
		<p>Phone number: 			</p>
		<input type="text" ng-model="phone">
		</br>
		
		<button type="button" class="profile-btn" ng-click="register()">Make an account</button>
		<button type="button" class="profile-btn" ng-click="close()">Cancel</button>
	</div>
</div>