<div>
    <form>
    
    	E-mail:
    	<input type="text" ng-model="email">
    	</br>
    	
    	Password:
    	<input type="text" ng-model="pass">
    	</br>
    	
    	Password(re-enter):
    	<input type="text" ng-model="pass2">
    	</br>
    	
    	First name: 
		<input type="text" ng-model="first_name">
		</br>
		
		Last name: 
		<input type="text" ng-model="last_name">
		</br>
		
		City: 
		<input type="text" ng-model="city">
		</br>
		
		Phone number: 
		<input type="text" ng-model="phone">
		</br>
		
		<button ng-click="register()">Make an account</button>
    </form>
</div>