<div ng-controller="ReserveTicketTheaterController" ng-init="refreshReservationTheater()" class="reservation">
	
	<div>
	Search theaters(name or part of it):
	<input type="textfield" ng-model="searchTheaterText">
	<button type="button" class="profile-btn ng-click="searchTheaters()">Search</button>
	</br>
	
	Theaters:
	<select id="theaterCombo" ng-model="the" ng-change="showProjectionsDates()"> 
		<option ng-repeat="theater in theatersShow" value="{{theater.name}}">{{theater.name}}</option>
	</select>
	</div>
	
	<div class="big">
		<div>
		Plays:
		<select id="projsCombo" ng-model="mov" ng-change="showAvailable()" ng-disabled="disMovComboTheater">
			<option ng-repeat="projection in projsShow">{{projection.title}}</option>
		</select>
		</div>
		
		<div class="current-reservation">
			<button id="btn" ng-click="continueReservationTheater()" ng-show="showContinueTheater">Continue reservation</button>
		</div>
		<div id="datepicker2"></div>
		
	</div>
	
	<div>
		Time(room):
		<select id="timeRoom" ng-model="perf" ng-change="projectionChangedTheater()" ng-disabled="disProjComboTheater">
			<option></option>
			<option ng-repeat="perf in perfShow">{{perf.time +" (Room " + perf.audNum+")"}}</option>
		</select>
	</div>
	
	    <modal show-modal="modal.show" />
</div>