<div ng-controller="ReservationTabController">
		<table ng-init="loadReservations()" class="table table-bordered">
			<thead>
				<th>Movie</th>
				<th>Date</th>
				<th>Number of seats</th>
				<th>Seats</th>
				<th>Price</th>
			</thead>
			<tbody>
				<tr ng-repeat="reservation in reservationsShow">
					<td>{{reservation.title}}</td>
					<td>{{reservation.date}}</td>
					<td>{{reservation.num}}</td>
					<td>{{reservation.seats}}</td>
					<td>{{reservation.price*reservation.num}}</td>
					<td><button type="button" ng-click="cancelReservation(reservation)">Cancel this reservation</button></td>
				</tr>
			
			</tbody>
		</table>
</div>